@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #bcc6d6;
}

button {
    cursor: pointer;
    font-weight: bold;
}

.backButton {
    background-color: #b0ffe9;
}

.plusButton {
    background-color: #55efc4;
}

.xButton {
    background-color:  #ff7675;
}