@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #C3DAFD;
}

button {
    cursor: pointer;
    font-weight: bold;
    background-color: #ABCBFC;
    border: none;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:active {
    
    transform: perspective(500px) rotateX(20deg) scale(0.90);
}

.plusButton {
    background-color: #55efc4;
}

.xButton {
    background-color:  #ff7675;
}